header{
    border-bottom: 1ex;
    border-color: #45494F;
}


header a{
    text-decoration: none;
    color: white;
    padding: 1ex;
    padding-bottom: 0;
}

header a:hover{
    color: white;
    font-weight: bold;
}

p{
    text-shadow: 3px;
}

#Left_article{
    background-image: linear-gradient(to Right,#252529,#6C757D);
}

#Right_article{
    background-image: linear-gradient(to Left,#252529,#6C757D);
}

#Skills{
    background-color: #45494F;
}