header{
    border-bottom: 1ex;
    border-color: #45494F;
}


header a{
    text-decoration: none;
    color: white;
    padding: 1ex;
    padding-bottom: 0;
}

header a:hover{
    color: white;
    font-weight: bold;
}

p{
    text-shadow: 3px;
}

#About_text_container {
    border-right: 1ex;
    border-color: #252529;
}